body::before{
    content: "";
    display: block;
    height: 20px;

}
@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
  }

.up-bottom {
    position: absolute;
    bottom: 62px;
    right: 20%;

}
