/* @media(min-width: 768px){
    .news-input{
        width: 50%;
    }
} */

body::before{
    content: "";
    display: block;
    height: 20px;

}
@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
  }

/* .card img{
    max-width: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */
.up-bottom {
    position: absolute;
    bottom: 62px;
    right: 20%;

}
